geometry/*
!geometry/icarus_mk[0-9].vsp3
/tools/__pycache__
/tools/*.adb
/tools/*.dat
/tools/*.csv
/tools/*.cuts
/tools/*.fem
/tools/*.group.[0-9]*
/tools/*.lod
/tools/*.cases
/tools/*.stab
/tools/*.vspaero
/tools/*.flt
/tools/*.history
/tools/*.slc
/tools/log.txt
/tools/build/*
/tools/dist/*
/tools/*.vsptime
/tools/*.spec
/tools/*.code-workspace